{%extends 'base.html'%}
{% load static %}

{% block content %} 
{{ block.super}}
<body style="overflow-x:hidden">

    <div class="container" id="image-section">
        <div class="row mt-3">
        {% for image in images %}
        <div class="col-md-7" style="margin-top:20px;"> 
                <div class="panel panel-default"  id="{{image.id}}">
                        <div class="panel-heading">
                        <img src="{{image.profile.profile.profile_picture.url}}" alt="profile" height="40px" width="40px" style="border-radius: 50%;">
                        <a href="{% url 'profile' image.profile.id%}">{{ image.profile}}</a> 
                    </div>
                    <div class="panel-body">
                        <img src="{{ image.image_path.url}}" alt="image" class="img-responsive" style="width:350px; height:350px;margin:auto; margin-left: auto;margin-right:auto;">
                    </div>

                    <div class="panel-footer text-muted"> 
                            <a href="{% url 'like' image.id %}">
                                    <img src="{% static 'image/like.jpg' %}" alt="" style="width:20px;height: 20px;">
                                 </a>
                                 <p class="list-inline-item">
                                    <a href="{% url 'single_image' image.id %}">comments...</i></a>
                                 </p>
                
                            <p>{{ image.like_set.count }} Likes</p>  
                        <hr>   
                            {% autoescape on %}
                            {{image.caption| safe}}           
                            {% endautoescape %}  
                            <hr>
                            {% for comment in comments  %}
                            {% if comment.commented_on == image %}
                               <p><span>{{ image.comment.author.user.username }}</span> {{ comment.text }}</p>
                               <form action="" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="text" name="image_id" id="image_id" value="{{ post.id }}" hidden>
                                    <button type="submit" hidden></button>
                                 </form>
                            {% endif %}
                         {% endfor %}
                    </div>
                </div>  
            </div>
        </div>
        {% endfor %} 
    </div>  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}