{%extends 'base.html'%}

{% block content %} 
{{ block.super}}
<div class="container">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-8 center-block">
                {% for image in images %}
                <div class="card text-center">
                
                <div class="card-header"> 
               <a href="{% url 'profile' %}">{{ image.profile}}</a> 
                </div>
                <div class="card-body">
                <img src="{{ image.image_path.url}}" alt="image" class="image" style="height:250px; width:auto;">
                </div>
                <div class="card-footer text-muted">
                
                </div>
            </div>
            </div>
        </div>
           

        {% endfor %}
    </div>
    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}